Python Data Classes 
In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [5]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

person=Person('shruti',21,'Ai Engineer')
print(person)

Person(name='shruti', age=21, profession='Ai Engineer')

The @dataclass decorator automatically generates the following methods for you:

init(): Initializes the object and assigns the provided values to the attributes.
repr(): Provides a string representation of the object.
eq(): Implements equality comparison between two objects of the class based on their attributes.

In [6]:
person.age

21

In [7]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1=Rectangle(12,13)
rectangle=Rectangle(13,14,'red')

In [8]:
print(rectangle)

Rectangle(width=13, height=14, color='red')

In [9]:
print(rectangle1)

Rectangle(width=12, height=13, color='white')

In [10]:
rectangle.color

'red'

In [12]:
@dataclass(frozen=True)

class Point:
    x:int
    y:int

point=Point(3,4)

In [13]:
point

Point(x=3, y=4)

In [14]:
point.x,point.y

(3, 4)

In [15]:
point.x=12

FrozenInstanceError: cannot assign to field 'x'

In [16]:
##inheritance

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:int
    department:str

In [17]:
person= Person('Krish',31)
employee=Employee("Krish",31,121,"AI")

In [18]:
person
employee

Employee(name='Krish', age=31, employee_id=121, department='AI')

In [19]:
employee.name

'Krish'

In [20]:
##Nested DataClasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:int

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [21]:
address=Address('123 MAin street','Bangalore','12345')
person=Person("Shruti",31,address)

In [22]:
person

Person(name='Shruti', age=31, address=Address(street='123 MAin street', city='Bangalore', zip_code='12345'))

In [23]:
person.address.city

'Bangalore'